<section class="container">
    <form class="login-form">
    <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button  type="submit">login</button>
    </div>
    </form>

    <form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    {{!-- <div>
        <label for="genderChoice"> gender: </label>  
        <select id = "genderChoice" onchange = "gender()" >  
        <option value ="male">male</option>  
        <option value ="female" selected >female</option> 
        </select>
    </div>  
    <div>
        <label for="genderPreference"> gender preference: </label>
        <select id = "genderPreference" onchange = "preference()" >  
        <option value ="male">male</option>  
        <option value ="female" selected >female</option> 
        </select>
    </div> 
    <div>
        <label for="languageChoice"> select you favorite coding language: </label>  
        <select id = "languageChoice" onchange = "language()" >  
        <option selected> ---choose language--- </option>  
        <option value="JavaScript"> JavaScript </option>  
        <option value="Python"> Python </option>  
        <option value="C++"> C++ </option>  
        <option value="Java"> Java </option>
        </select>  
    </div> --}}
    <div>
        <button type="submit">signup</button>
    </div>
    </form>
</section>
<script src="/js/login.js"> </script>

<script>
    function gender()
    function preference()
    function language()
</script>
